html{
    height: 100%;
    color: white;
}

body{
    height: 100%;
    background-color: hotpink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto 100px;

}

header{
    background-color: black;
    grid-column: 1 / -1;
    
}

aside{
    background-color: blue;
    
}

section{
    background-color: greenyellow;
    grid-column: 2 / -1;
}

footer{
    background-color: grey;
    grid-column: 1 / -1;/*igual que a 4*/
}

.circulo{
    width: 400px;
    height: 400px;
    background-color: indigo;
    border-radius: 50% 0 50% 0;
    transition: all ease-in 5s; /*revisar*/
}

@media only screen and (max-width: 600px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 100px 100px;
    }
    header{
        grid-column: 1 / -1;
    }
    aside{
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }
    section{
        grid-column: 1 / -1;
    }

    .circulo{
        background-color: red;
    }
}