body{
    font-family: sans-serif;
}
article#principal{
    color: orange;
}

#uno{
    font-size: 40px;
}

#dos{
    font-size: 30px;
}
/*notación etiqueta con ids*/
article#verde{
    background-color: green;
    min-height: 30px;
    max-height: 50px;
}

nav{
    background-color: #24272a;
    /*height: 50px;*/
    max-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*notacion entre etiquetas*/
nav > div > a{
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
}

#bedu-logo{
    /*margin-left: 20px;
    margin-top: 10px;*/
    margin: 10px 0 10px 20px;
    width: 50px;
}

/*
#logo{
    padding: 10px 0 10px 0;
    
}*/





#bedu-logo svg{
    fill: white;
    
    
}